@keyframes ldio-1nashm7ojca {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-1nashm7ojca div {
  position: absolute;
  animation: ldio-1nashm7ojca 0.74s linear infinite;
  width: 94.24px;
  height: 94.24px;
  top: 14.879999999999999px;
  left: 14.879999999999999px;
  border-radius: 50%;
  box-shadow: 0 5.828px 0 0 #df1317;
  transform-origin: 47.12px 50.034px;
}
.loadingio-spinner-eclipse-sxtecx0or1s {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: #eee;
}
.ldio-1nashm7ojca {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-1nashm7ojca div { 
  box-sizing: content-box;
}